.chat-main
 .group-info
  .group-info__left-items
   .group-info__left-items__group-name TECHCAMP
   .group-info__left-items__group-member-list shimizu morita sameeha
  =link_to '#' do
   .group-info__right-items edit

 .message-list
  = render @messages

 .form
  .type_message
   = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .picture
     = f.label :image, class: 'form__mask__image' do
      = icon('fas', 'image', class: 'icon')
      = f.file_field :image, class: 'hidden'
    .send
     = f.submit 'Send', class: 'form__submit'