.chat-main
 .group-info
  .group-info__left-items
   .group-info__left-items__group-name
    = @group.name
   .group-info__left-items__group-member-list
    Members:
    - @group.users.each do |user|
     = user.name
  .group-info__right-items
   = link_to edit_group_path(@group),class:"editor" do
    Edit

 .message-list
  = render @messages

 .form
  .type_message
   = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .picture
     = f.label :image, class: 'form__mask__image' do
      = icon('fas', 'image', class: 'icon')
      = f.file_field :image, class: 'hidden'
    .send
     = f.submit 'Send', class: 'form__submit'